{% extends 'email_sends/base.html' %}

{% block content %}


<div class="row">
    <div class="col-12">
        <div class="card" style="border:none">
            <div class="card-body">
                <h5 class="card-title">Клиенты:</h5>
                {% if page_obj|length %}
                <a class="btn btn-primary mb-2" href="{% url 'email_sends:create_client'%}"
                   role="button">Добавить</a>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">ФИО</th>
                        <th scope="col">email</th>
                        <th scope="col">Комментарий</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for client in page_obj %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ client.name }}</td>
                        <td>{{ client.email }}</td>
                        <td>{% if client.comment %}
                            {{ client.comment }}
                            {% endif %}
                        </td>
                        <td>
                            <a class="btn btn-primary" href="{% url 'email_sends:edit_client' client.id  %}"
                               role="button">Редактировать</a>
                            <a class="btn btn-primary" href="{% url 'email_sends:delete_client' client.id %}"
                               role="button">Удалить</a>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>

                </table>
                {% if page_obj.paginator.num_pages > 1 %}
                <nav aria-label="Clients navigation">
                    <ul class="pagination">
                        {% if page_obj.has_previous %}
                        <li class="page-item"><a class="page-link" href="?page=1">1</a></li>
                        <li class="page-item"><a class="page-link"
                                                 href="?page={{ page_obj.previous_page_number }}" aria-label="Previous"
                                                 title="Назад">
                            <span aria-hidden="true">&laquo;</span>
                        </a></li>
                        {% endif %}

                        <li class="page-item current"><span class="current page-link"> Страница {{ page_obj.number }} из
                    {{ page_obj.paginator.num_pages }}</span></li>
                        {% if page_obj.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}"
                                                 aria-label="Next" title="Вперёд">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
                {% endif %}
                {% else %}
                Пока нет зарегистрированных клиентов. <a class="btn btn-primary"
                                                         href="{% url 'email_sends:create_client'%}"
                                                         role="button">Создать</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
