{% extends 'email_sends/base.html' %}

{% block content %}


<div class="row">
    <div class="col-12">
        <div class="card" style="border:none">
            <div class="card-body">
                <h5 class="card-title">Клиенты:</h5>
                {% if object_list|length %}
                <a class="btn btn-primary mb-2" href="{% url 'email_sends:create_client'%}"
                   role="button">Добавить</a>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">ФИО</th>
                        <th scope="col">email</th>
                        <th scope="col">Комментарий</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for client in object_list %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ client.name }}</td>
                        <td>{{ client.email }}</td>
                        <td>{% if client.comment %}
                            {{ client.comment }}
                            {% endif %}
                        </td>
                        <td>
                            <a class="btn btn-primary" href="{% url 'email_sends:edit_client' client.id  %}"
                               role="button">Редактировать</a>
                            <a class="btn btn-primary" href="{% url 'email_sends:delete_client' client.id %}"
                               role="button">Удалить</a>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>

                </table>
                {% else %}
                Пока нет зарегистрированных клиентов. <a class="btn btn-primary"
                                                         href="{% url 'email_sends:create_client'%}"
                                                         role="button">Создать</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
