{% extends 'email_sends/base.html' %}

{% block content %}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Удаление данных клиента:</h5>
                <form method="post">
                    {% csrf_token %}
                    <p>Вы действительно хотите удалить "{{ object }}"?</p>
                    {{ form.as_div }}
                    <div class="btn-group">
                        <button type="submit" class="btn btn-primary">Удалить</button>
                        <a href="{% url 'email_sends:client_list' %}" class="btn btn-outline-secondary">Отменить</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}