{% extends 'email_sends/base.html' %}

{% block content %}


<div class="row">
    <div class="col-12">
        <div class="card" style="border:none">
            <div class="card-body">
                <h5 class="card-title">Отчеты:</h5>
                {% if page_obj|length %}
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Дата/время последней отправки</th>
                        <th scope="col">Название рассылки</th>
                        <th scope="col">Клиенты</th>
                        <th scope="col">Статус</th>
                        <th scope="col">Ответ почтового сервера</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for log in page_obj %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ log.last_sent }}</td>
                        <td>{{ log.mailing.name }}</td>
                        <td>{{ log.mailing.clients.all|join:', ' }}</td>
                        <td>{{ log.get_status_display }}</td>
                        <td>{% if log.server_response %}
                            {{ log.server_response }}
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>

                </table>
                {% if page_obj.paginator.num_pages > 1 %}
                <nav aria-label="Logs navigation">
                    <ul class="pagination">
                        {% if page_obj.has_previous %}
                        <li class="page-item"><a class="page-link" href="?page=1">1</a></li>
                        <li class="page-item"><a class="page-link"
                                                 href="?page={{ page_obj.previous_page_number }}" aria-label="Previous"
                                                 title="Назад">
                            <span aria-hidden="true">&laquo;</span>
                        </a></li>
                        {% endif %}

                        <li class="page-item current"><span class="current page-link"> Страница {{ page_obj.number }} из
                    {{ page_obj.paginator.num_pages }}</span></li>
                        {% if page_obj.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}"
                                                 aria-label="Next" title="Вперёд">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
                {% endif %}
                {% else %}
                Пока нет данных.
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
