{% extends 'email_sends/base.html' %}

{% block content %}

<div class="row justify-content-md-center">
    <div class="col-6 col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Вход</h5>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}

                    {{ form.as_p }}

                    <button type="submit" class="btn btn-primary form-control">Войти</button>

                </form>

            </div>
            <div class="card-footer">
                <a class="card-link text-primary" href="{% url 'users:reset-password'%}">
                    Восстановить пароль
                </a>
            </div>
        </div>
    </div>

</div>
{% endblock %}