{% extends 'email_sends/base.html' %}

{% block content %}

<div class="row justify-content-md-center">
    <div class="col-6 col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title text-success">Проверьте вашу почту</h5>
                <div class="card-text">
                    Если акаунт с указанным вами адресом электронной почты существует, вам поступит письмо с новым
                    паролем.
                    Если вы не получили письмо, проверьте папку "Спам" и удостоверьтесь, что вы ввели email,
                    зарегистрированный на сайте.
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}